<!DOCTYPE html>
<html>

<head>
    <title>Index file</title>
</head>

<body>

    <div>
        {{>header}}
        <h1>About us page</h1>
        <img style="height: 400px;width: 500px;" src="./images/node.png">
    </div>
</body>

</html>